<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">
    </script>
</head>

<body>
<div th:switch="${deleteStatus}">
    <div th:case="'success'">
        <div><h2>You have successfully delete your diary</h2></div>
        <br>
    </div>
    <div th:case="'failure'">
        <div><h2>You can't perform delete on given date because
            there is no entry on given date</h2></div>
    </div>
</div>

<a th:href="@{/user}" ><button class="btn btn-primary">Go to user Home</button></a>
</body>
</html>