<!doctype html >
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Index page</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
        <style>

        </style>

    </head>
    <body>
        <h2 style="text-align:center;">WELCOME TO VIRTUAL DIARY APPLICATION</h2>
        <hr>
        <br><br>
        <h5 style="text-align:center"><a th:href="@{/register}"><button class="btn btn-primary">Register</button></a></h5>
        <br>
        <h5 style="text-align:center"><a th:href="@{/login}"><button class="btn btn-primary">Sign In</button></a></h5>
    </body>
</html>