<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous">
        </script>
    </head>

    <body>
        <center><h1>Hello <span th:text="${userId}"></span></h1></center>
        <hr>
        <div>
            <center><h2>Welcome to your personal diary</h2></center>
            <br>
        </div>
        <div><center>
            <h3><a th:href="@{diarypage/writediary}"><button class="btn btn-primary">write a new diary</button></a></h3>
            <br>
            <h3><a th:href="@{diarypage/updatediary}"><button class="btn btn-secondary">Update an existing diary</button></a></h3>
            <br>
            <h3><a th:href= "@{diarypage/deletediary}"><button class="btn btn-danger">Delete an existing diary</button></a></h3>
            <br>
            <h3><a th:href= "@{diarypage/readdiary}"><button class="btn btn-info">Read previous diary</button></a></h3>
            <br>
            <h3><a th:href="@{/logout}"><button class="btn btn-success">Log out</button></a></h3>
        </center>
        </div>
    </body>
</html>
